<a href="https://colab.research.google.com/github/wsuarez893/MC-Class-Homeworks/blob/main/Module_2_Homework_SecondVersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
round(4.5667,2)

4.57

2. Convert "657" to an integer data type

In [2]:
type(int(657))

int

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [7]:
import random as rand 
n1 = int(input("Give me a number:  "))
n2 = int(input("Give me another number:   "))

print((rand.randint(n1,n2)),(rand.randint(n1,n2)), (rand.randint(n1,n2)),(rand.randint(n1,n2)),(rand.randint(n1,n2)),(rand.randint(n1,n2)),sep = "-")

Give me a number:  1
Give me another number:   9
6-5-1-3-8-2

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [8]:
line1='Hickory, dickory, dock,'
line2='The mouse ran up the clock.'
line3='The clock struck one,'
line4= 'The mouse ran down,'
line5= "Hickory, dickory, dock"

In [9]:
print(line1.replace(" ",""))
print(line2.replace(" ",""))
print(line3.replace(" ",""))
print(line4.replace(" ",""))
print(line5.replace(" ",""))

Hickory,dickory,dock,
Themouseranuptheclock.
Theclockstruckone,
Themouserandown,
Hickory,dickory,dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [11]:
def miles_per_gallon (m,g): 
  MPG = m/g
  print(f"The miles per gallons is {MPG}")

miles = int(input("Please enter the miles driven:  "))
gallons = int(input("Please enter the gallons used:  "))

miles_per_gallon (miles, gallons)

Please enter the miles driven:  60
Please enter the gallons used:  15
The miles per gallons is 4.0

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [12]:
def compute(area,circumference):
    A=3.14*(r*r)
    C=3.14*(d)
    print(f"Area is {A}")
    print(f"Circumference is {C}")

r=int(input("Please enter the radius:   "))
d=int(input("Please enter the diameter:   "))
          
compute(r,d)

Please enter the radius:   4
Please enter the diameter:   7
Area is 50.24
Circumference is 21.98

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [16]:
def multiply_two(x,y):
    M = x*y
    print(f" {x}*{y} = {M} ")

No1 = rand.randint(1,100)
No2 = rand.randint(1,100)

multiply_two(No1,No2)

 42*25 = 1050

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [21]:
def multiply(a,b):
  T = a * b
  print(f"{a} x {b} = {T} ")
  print(f"{a} x {b} = {T} ")
  print(f"{a} x {b} = {T} ")
  print(f"{a} x {b} = {T} ")
  print(f"{a} x {b} = {T} ")


Number1 = int(input("Please give me a number:   "))
Number2 = rand.randint(1,10)

multiply(Number1,Number2)

Please give me a number:   3
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27