# Python Review #2

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 4 Review

#### REMOVING VALUES FROM LIST

Lists are changeable, which means you can remove values to a list after you have defined the list initially. 

The .pop() function will remove a single item from your list. This function allows you to only remove a single value at a time. You have the option to provide the function with the index-position of where the item you want to remove is located. However, if you don't specify a specific index, the function will automatically remove the last item from the list. To use the function, see an example below:

    list_name.pop( index_of_item_to_remove )
    
    colors.pop(3)
    
The .remove() function will remove a specific item from a list (you provide the item label/value and the function will search and remove that specific item). If an item/value is repeated within your list, this function will only remove the first instance. To use the function, see an example below:

    list_name.remove( item_to_remove )
    
    colors.remove("green-3")
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the pop function to remove a shape from your list. Print the list.
3. Use the remove function to remove a shape to your list. You should remove the shape in index position 2. Print your list.
4. Use the pop function to remove the last item in your list. Print the list.

In [7]:
shapes = ['circle','square','triangle', 'rombus']
shapes.pop()
print(shapes)

['circle', 'square', 'triangle']

In [8]:
shapes.remove("triangle")

In [9]:
print(shapes)

['circle', 'square']

In [10]:
shapes.pop()
print(shapes)

['circle']

#### SORTING A LIST

The .sort() function allows you to re-order a list in ascending or descending order. If the list includes only numbers, this means the numbers will be ordered from least to greatest (or from greatest to least). If the list includes strings/text, the list will be sorted in alphabetical order (or reverse alphabetical order). To use the function, see the example below: 

        list_name.sort() >> by default, this will sort the list in ascending order
        colors.sort()
        
To change the direction in which items are sorted, you can add an option within the parentheses that sorts the list in the reverse direction (reverse = True). See the example below:
        
        list_name.sort(reverse = True)
        colors.sort(reverse = True)

1. Create a list of 4 integers. Print the list. 
2. Sort the list in ascending order. 
3. In a new cell, sort the same list in descending order.

In [12]:
inte = [ 1, 3, 4, 89]
inte.sort()
print(inte)

[1, 3, 4, 89]

In [13]:
inte.sort(reverse = True)
print(inte)

[89, 4, 3, 1]

#### FOR-LOOPS

Python has several types of loops that are used to iterate through a set of information. <b>For Loops</b> are used to apply a function on each item in a specific list. For example, if you want to apply the print() function to each item in a list (aka you want to individually print out each item listed), you can do so with a for loop. The basic structure of a for-loop is as follows:

        for item in list_of_items:
            statement 1
            statement 2
            statement 3

This can be read as "For each Item in the list of Items, perform the following tasks...". The for loop will then take each item in the list - one by one - and apply the specific statements to each item. See below for an example:
    
    my_list = ["a", "b", "c", "d"]
    
Below I'm going to create a for loop that will iterate through my_list and print each item from the list. In the for loop, the "i" stands for item.

    for i in my_list:
        print (i)
The output for the for-loop with be as follows:

    a
    b
    c
    d

Complete the code below to create a series of for-loops.

In [14]:
colors = ["red", "orange", "purple", "white", "green"]

## using the list above, create a for-loop that prints each color from the list
for color in colors:
  print(color)

red
orange
purple
white
green

In [16]:
drinks = ["soda", "coffee", "tea", "milk", "water"]

## using the list above, create a for-loop that prints the name of each color and the length of each string 
# how many characters are in the name of the color?

for drink in drinks: 
  print(drink), print(len(drink))

soda
4
coffee
6
tea
3
milk
4
water
5

In [17]:
drinks = ["soda", "coffee", "tea", "milk", "water"]

## using the same drinks list, create a for-loop that prints the sentence "My favorite drink is .." and then fill in the name of each color
for drink in drinks: 
  print(f"My favorite drink is {drink}")

My favorite drink is soda
My favorite drink is coffee
My favorite drink is tea
My favorite drink is milk
My favorite drink is water

In [18]:
numbers = [10, 20, 30, 40, 50]

## using the list above, create a for-loop that adds 5 to each value in the list and then prints the value 

for number in numbers:
  print(f"{number + 5}")

15
25
35
45
55

#### RANGE FUNCTION 

The range function creates a sequence of numbers starting from a given integer and stopping before a given integer (inclusive -> exclusive). The range function can be useful when incorporated into loops. The range function defaults to a 0 starting value but this can be altered, for example:

        range(0, 10) returns the values 0 through 9
        range(0, 11) returns the values 0 through 10
        range(2, 7) returns the values 2 through 6
        range(-1, 10) returns the values -1 through 9
        
To use the range function, you can include it in a for-loop. The for-loop will iterate through the list of numbers and print them out one by one. Below I'm going to create a for loop that will iterate through a sequence of numbers and print each number. In the for loop, the "i" stands for integer.

    for i in range(0, 6):
        print (i)
        
This can be read as "For each integer in the range 0 through 10, print the integer". The output for the for-loop with be as follows:

    1
    2
    3
    4
    5

Complete the code below to create a series of for-loops using the range function.

In [19]:
## complete the code to print a list of integers ranging from 0 to 3.

for i in range(0,4):
    print(i)

0
1
2
3

In [20]:
## complete the code to print a list of integers ranging from -1 to 9.

for i in range(-1,10):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9

In [21]:
## complete the code to add 5 to a series of integers ranging from 0 to 5.

for i in range(0,6):
    i += 5
    print(i)

5
6
7
8
9
10

In [22]:
## complete the code to multiply a series of integers ranging from 1 to 8 by 10. 

for i in range(1,9):
    i *= 10
    print(i)

10
20
30
40
50
60
70
80

#### WHILE LOOPS

The while loop is another type of Python loop. With the while loop, we can execute a set of statements as long as a condition is true. That condition is listed at the top of the statement and underneath the statement is where you will list all the items you want executed while that statement is true. For example:

    i = 1
    
    while i < 6:
        print(i)

The above while loop will print the value of "i" for as long as "i" is less than 6. This is because the condition that is being checked for truth is "i < 6". If this is true, the loop continues (indefinitely) - but as soon as this statement is no longer true, the loop will stop. The above loop is an infinity loop and will never stop running. This is because the value of "i" is always going to be 1 - which is always going to be less than 6, which means the conditional statement will never be untrue. We can modify our code so that this is not an infinity loop by adding a statement that adds "1" to the value of "i" after each successful loop. 

    i = 1
    
    while i < 6:
        print(i)
        i = i + 1
        
The loop will flow in the following way:

1. Check the conditional statement for truth (is i less than 6?); if yes, continue to the first statement underneath; if no, end the loop. 
2. The starting value of "i" is 1, therefore, the conditional statement is true. We can continue with the first statement listed underneath the conditional statement. 
3. We print the value of "i" because that is the first item listed underneath the conditional statement. On the first iteration of the loop, this means we are printing the value "1". 
4. We continue executing the statements underneath the conditional statement in the order they are listed. The next statement is i = i + 1 (this can also be written as i += 1); this means we are going to take whatever the value of "i" is and add 1 to it. Then we are going to save that result as the new value of "i". This is going to happen at the end of each successful loop. At the end of the first loop, "i" will have a value of "2". 
5. We've reached the end of our listed statements under the conditional statement, now it is time to go back to the top of the list and try everything again for iteration #2. 
6. Start again at the conditional statement - at the beginning of each iteration, the conditional statement is re-checked for truth. If it is still true, we cycle through the listed statements again (print the value of "i" and add 1 to the current value of "i"). 
7. This cycle will continue until the conditional statement is no longer true; therefore, in this example, this cycle will continue until "i" is greater than 


Complete the code below to execute a series of while loops.

In [24]:
## complete the code below to prevent the while loop from becoming an infinity loop
## add a line of code to stop the loop after 3 iterations

i = 0

while i < 3:
    print(i)
    i = i + 1 ## add a line of code here

0
1
2

In [25]:
## each minute you let your tea sit, it cools down 6 degrees. 
## how many minutes pass before you can drink your tea?
## run the while-loop below and count the number of loops it made.

temp = 181

while temp > 135:
    print(f"{temp} degrees is too hot to drink your tea, let it cool.")
    temp = temp - 6
    
print(f"Your tea is {temp} and cool enough to drink. Enjoy!")

181 degrees is too hot to drink your tea, let it cool.
175 degrees is too hot to drink your tea, let it cool.
169 degrees is too hot to drink your tea, let it cool.
163 degrees is too hot to drink your tea, let it cool.
157 degrees is too hot to drink your tea, let it cool.
151 degrees is too hot to drink your tea, let it cool.
145 degrees is too hot to drink your tea, let it cool.
139 degrees is too hot to drink your tea, let it cool.
Your tea is 133 and cool enough to drink. Enjoy!

In [27]:
## create a while loop that returns numbers 1 through 10
## once you get to 10, the loop should naturally end

i = 1

while i < 11: 
  print (i) 
  i += 1

1
2
3
4
5
6
7
8
9
10

## Module 5 Review

#### DICTIONARIES

A dictionary is another Python data type that holds a collection of items within one variable name. Unlike a list or tuples, dictionaries don't hold single values - they hold paired values. Each pair is called an <b>item</b>, and each item contains a <b>key</b> and a <b>value</b>. The key is separated by a value with a " : " and each item within the dictionary is separated by a comma. The entire dictionary is contained within curly brackets ( {} ). See below for an example:

    my_dictionary = {key_1 : value_1, key_2 : value_2, key_3 : value_3...}

A dictionary is ordered (it can be indexed), changeable (you can add, remove, and manipulate the items within), and it does not allow for duplicate keys. 

1. Create a dictionary called "roommates". This dictionary will include only two items - the name and age of each person living in a house. The name is the KEY and the age is the VALUE. Print the dictionary. Use the following information to construct the dictionary:
    * Sarah is 19 years old
    * Margaret is 23 years old

In [28]:
roommates = {'sarah' : 19, 'margaret' : 23}

In [29]:
print(roommates)

{'sarah': 19, 'margaret': 23}

#### ACCESSING A DICTIONARY P1

Identifying the items that are stored within your dictionary allows you to understand what the dictionary includes. Use the .get() function to retrieve a value from your dictionary. The .get() function requires you to input a dictionary KEY and it will return the value associated with that specific KEY. To use the function, follow the example below:

    my_dictionary = [key1 : value1, key2 : value2]
    
To get the value of "value2" we can use the .get() function in the following way:
    
    my_dictionary.get("key2")
    
The function will search for the specific key and return whichever value is associated with that key. 

Complete the code below to retrieve specific values from a dictionary that contains the first and last names of famous people throughout history. In this example, the keys are the first names and the values are the last names.

In [30]:
## run this cell to define the dictionary

famous = {"Marilyn":"Monroe", "Ab":"Lincoln", "Nelson":"Mandela", "Bill":"Gates", "Charles":"Darwin", "Rosa":"Parks", "John":"Lennon", "Pablo":"Picasso"}

In [31]:
## get the last name of the person called "Nelson"

famous.get("Nelson")

'Mandela'

In [32]:
## get the last name of the person called "Rosa"

famous.get("Rosa")

'Parks'

In [33]:
## get the last name of the person called "John"
famous.get("John")

'Lennon'

#### ACCESSING A DICTIONARY P2

Identifying the items that are stored within your dictionary allows you to understand what the dictionary includes. Use the .keys() function to return a list of all the keys in your dictionary. To use the function, look at the example below:

    my_dictionary = [key1 : value1, key2 : value2]

To get a list of all the keys stored in the dictionary, use the following code:

    my_dictionary.keys()
    
The output for this code will be:

    key1
    key2
    
Complete the code below to retrieve all the keys associated with the dictionary of famous people.

In [34]:
## run this cell to define the dictionary

famous = {"Marilyn":"Monroe", "Ab":"Lincoln", "Nelson":"Mandela", "Bill":"Gates", "Charles":"Darwin", "Rosa":"Parks", "John":"Lennon", "Pablo":"Picasso"}

In [35]:
## write the code to retrive all the keys associated with this dictionary

famous.keys()

dict_keys(['Marilyn', 'Ab', 'Nelson', 'Bill', 'Charles', 'Rosa', 'John', 'Pablo'])

#### ACCESSING A DICTIONARY P3

Identifying the items that are stored within your dictionary allows you to understand what the dictionary includes. Use the .values() function to return a list of all the values in your dictionary. To use the function, look at the example below:

    my_dictionary = [key1 : value1, key2 : value2]

To get a list of all the values stored in the dictionary, use the following code:

    my_dictionary.values()
    
The output for this code will be:

    value1
    value2
    
Complete the code below to retrieve all the values associated with the dictionary of famous people.

In [36]:
## run this cell to define the dictionary

famous = {"Marilyn":"Monroe", "Ab":"Lincoln", "Nelson":"Mandela", "Bill":"Gates", "Charles":"Darwin", "Rosa":"Parks", "John":"Lennon", "Pablo":"Picasso"}

In [37]:
## write the code to retrive all the values associated with this dictionary

famous.values()

dict_values(['Monroe', 'Lincoln', 'Mandela', 'Gates', 'Darwin', 'Parks', 'Lennon', 'Picasso'])

#### CHANGING DICTIONARY ITEMS

Dictionaries are changeable -- meaning you can add, remove, and modify items stored within the dictionary. To modify or edit items within your dictionary, you can use the .update() function. You can use this function to update a value given a specific key. To use the function, see the example below:

    my_dictionary = [key1 : value1, key2 : value2]
    
I want to update the second item to "value_2". See below for the code to do this:

    my_dictionary.update({"key_name" : "new_value"})
    
Within the parentheses of the update() function, you will add a mini dictionary of the items you want to update. This includes adding the curly brackets around the items you want to modify. For example:

    my_dictionary.update({"key2" : "value_2"})
    
This will change my dictionary from the original to this:

    my_dictionary = [key1 : value1, key2 : value_2]
    
1. Using the dictionary 'famous' shown above, update the last name of Marilyn Monroe to "Mortenson". The key should stay the same, you are just updating the value.

In [38]:
famous.update({"Marilyn" : "Mortenson"})

In [39]:
famous.values()

dict_values(['Mortenson', 'Lincoln', 'Mandela', 'Gates', 'Darwin', 'Parks', 'Lennon', 'Picasso'])

#### ADDING ITEMS TO DICTIONARY 

You can use the .update() function to add new items to a dictionary. To do this, follow the same steps as above but when you create your 'mini dictionary', you can insert 1 or multiple new entries. 

    my_dictionary = [key1 : value1, key2 : value2]

I want to add two additional items to the end of my dictionary.

    my_dictionary.update({"key3" : "value3", "key4" : "value4"})
    
If I run the above code, my dictionary will change from the original to the following:

    my_dictionary = [key1 : value1, key2 : value2, key3 : value3, key4 : value4]
    
Using the famous dictionary shown above, add two additional famous people to the end of the list using the update() function.

In [40]:
famous.update({"William" : "Luna", "Diosdado" : "Gaitan Castro"})

In [41]:
print(famous)

{'Marilyn': 'Mortenson', 'Ab': 'Lincoln', 'Nelson': 'Mandela', 'Bill': 'Gates', 'Charles': 'Darwin', 'Rosa': 'Parks', 'John': 'Lennon', 'Pablo': 'Picasso', 'William': 'Luna', 'Diosdado': 'Gaitan Castro'}

#### REMOVING ITEMS FROM DICTIONARY

You can use several functions to remove items from your dictionary. The most important functions to remember are:
    
<b> .pop() function removes a specific item given a specific key </b>
    
    my_dictionary = [key1 : value1, key2 : value2]
    
    my_dictionary.pop("key1") >> this will remove the key-value pair with key "key1"
    
<b> .popitem() function removes the last item listed in the dictionary </b>

    my_dictionary = [key1 : value1, key2 : value2]
    
    my_dictionary.popitem() >> this will remove the last item in the dictionary
    
<b> .clear() function removes all items from a dictionary </b>

    my_dictionary = [key1 : value1, key2 : value2]
    
    my_dictionary.clear() >> this will remove all items from the dictionary
    
Using the famous dictionary below, answer the following questions:
1. Remove "Bill Gates" from the dictionary. Print the dictionary. 
2. Remove "John Lennon" from the dictionary. Print the dictionary. 
3. Remove the last item from the dictionary. Print the dictionary.

In [42]:
## run this cell to define the dictionary

famous = {"Marilyn":"Monroe", "Ab":"Lincoln", "Nelson":"Mandela", "Bill":"Gates", "Charles":"Darwin", "Rosa":"Parks", "John":"Lennon", "Pablo":"Picasso"}

In [43]:
famous.pop("Bill")
print(famous)

{'Marilyn': 'Monroe', 'Ab': 'Lincoln', 'Nelson': 'Mandela', 'Charles': 'Darwin', 'Rosa': 'Parks', 'John': 'Lennon', 'Pablo': 'Picasso'}

In [44]:
famous.pop("John")
print(famous)

{'Marilyn': 'Monroe', 'Ab': 'Lincoln', 'Nelson': 'Mandela', 'Charles': 'Darwin', 'Rosa': 'Parks', 'Pablo': 'Picasso'}

In [45]:
famous.popitem()

('Pablo', 'Picasso')

In [46]:
print(famous)

{'Marilyn': 'Monroe', 'Ab': 'Lincoln', 'Nelson': 'Mandela', 'Charles': 'Darwin', 'Rosa': 'Parks'}

# Advanced Review Exercise #1

Create a Mad Libs using Python. Find a Mad Libs template online (this will look like a story that is missing several key words). Use that template to design a program that asks a user for input on all of the missing values within the Mad Libs. Then, once you have all the needed input -- print the Mad Libs using a formatted string.

In [1]:
company = input("give me the name of the company:   ") 
offering = input("define what your business will be offering:   ")
audience = input("who is your audience?   ")
solve_problem = input("what is the problem you are trying to solve?   ")
secret_sauce = input("What is your secret sauce? That which differentiates you?   ")

print(f"My company, {company} , is developing {offering} to help {audience}, {solve_problem} with {secret_sauce}.")

give me the name of the company:   Founder Institute
define what your business will be offering:   training and mentoring program
who is your audience?   entrepeneurs
what is the problem you are trying to solve?   launch new start ups
What is your secret sauce? That which differentiates you?   shared equity that encourages peer support.
My company, Founder Institute , is developing training and mentoring program to help entrepeneurs , launch new start ups with shared equity that encourages peer support. .

# Advanced Review Exercise #2

Create a program where the user can play a game of rock, paper, scissors against a computer. Set a play choice (rock, paper, or scissors) for the computer player and during the program, request for the user to input their play choice.

The rules in Rock, Paper, Scissors are:

Rock beats scissors
Scissors beats paper
Paper beats rock
If the user wins, then display "You win!" If they lose against the computer, then display "You lose." If the computer and the user have the same play choice, display "It's a draw."

<b>BONUS</b>: Randomize the play choice for the computer (hint: Python has a library called random). Also ask the user if they would like to play again. If they do, start the game again but if not, thank the user for playing the game.

In [3]:
import random 

user_move = input("Enter rock, paper, or scissors:   ")
computer_options = ["rock", "paper", "scissors"]
computer_move = random.choice(computer_options)

print(f"Your choice: {user_move} & Computer's choice: {computer_move} ")

if user_move == computer_move: 
  print(f"It's a draw!") 

elif user_move == "rock": 
  if computer_move == "scissors": 
    print("Your win!")
  else: 
    print("You lose!")

elif user_move == "scissors": 
  if computer_move == "paper": 
    print("Your win!")
  else: 
    print("You lose!")
    
elif user_move == "paper": 
  if computer_move == "Rock": 
    print("Your win!")
  else: 
    print("You lose!")

Enter rock, paper, or scissors:   paper
Your choice: paper & Computer's choice: scissors
You lose!

# Advanced Review #3

Create a program similar to the gameshow "Who Wants to Be a Millionaire!". Start by asking the user for their name, greeting them, and using their specific name throughout the program. 

Create a trivia program where a user is presented with a series of questions and asked to enter a response; if the response if correct, the user gains 100 points; if the response is incorrect, the user gets an "X" and does not gain any additional points. If the user gets 3 X's, they lose! Ask the user at least 15 questions. At the end of the game, calculate the users total score and present the answer to the user. 

Use the following source for trivia questions: https://www.opinionstage.com/blog/trivia-questions/

In [4]:
username = input("what is your name?    ")
print(f"hello {username}, welcome to the game! ")

what is your name?Joe
hello Joe, welcome to the game!